.viewsMain {
  &__content {

    /* Hide scrollbar for */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar { /* Chrome, Safari and Opera */
      display: none;
    }
  }

  &__divider {
    background-color: $background;
    width: 100%;
    height: 12px;
  }
}
